// footer {
//     background-image: url(../images/wave-blue-light.png);
//     background-repeat: no-repeat;
// }

#vulcan-logo-footer {
    height: 40px;
}
#facebook, #linkedin {
    height: 25px;
}
#linkedin {
    margin-left: 7px;

}
#phone-number, #contact-us-footer, #copyright {
    color: white;
    font-weight: 500;
    font-size: 0.9em;
}
#footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
#copyright {
    margin-bottom: 30px;
    margin-top: 10px;
    
}