.sign-up {
    height: 120px;
    background-color: rgb(196, 219, 237);
    display: flex;
    align-items: center;
}
#newsletter-text {
    color: rgb(39, 71, 97);
    font-size: 1.2em;
    margin-bottom: 7px;
}
#sign-up-btn {
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: rgba(66, 155, 214, 1);
    font-weight: 700;
}
#email {
    height: 35px;
    border: none;
    margin-right: 5px;
    width: 60%;
    margin-top: 7px;
}
#email::placeholder {
    font-size: 0.8em;
    padding-left: 20px;
}
@media(min-width: 400px) {
    #email {
        width: 70%;
    }
}
@media(min-width: 768px){
    #email {
        min-width: 280px;
        margin-top: 0;
        margin-right: 8px;
    }
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #input-button-container {
        display: flex;
        margin-left: 10px;
    }
    .sign-up {
        height: 80px;
    }
    .container {
        padding: 0 5px;
        max-width: 750px;
    }
    #email::placeholder {
        font-size: 1em;
        padding-left: 15px;
    }
}
@media(min-width: 1024px){
    #email {
        min-width: 420px;
        margin-right: 15px;
    }
    #input-button-container {
        margin-left: 30px;
    }
}