.history-info h2{
    color: #fff;
    font-size: 33px;
    line-height: 36px;
    margin: 0 0 23px;
    text-transform: uppercase;
    font-weight: 700;
}
.history-info .text {
    font-size: 14px;
    margin: 0;
    // width: 290px;
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    max-width: 290px;
}

.history-info {
    color: #fff;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    z-index: 1;
}

.history-info .container {
    padding-top: 155px;
    padding-bottom: 91px;
    height:630px
}

.history-info-container {
    padding-top: 150px !important;
}

.contain {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.history-info .text p{
    margin: 0;
    font-size: 1rem;
}

.about-btn {
    display: inline-block;
    font-weight: 700;
    color: white; 
    background-color: transparent; 
    border: 2px solid white; 
    padding: 11px 70px; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s; 
    cursor: pointer; 
}

.about-btn:hover {
    background-color: white; 
    color: #007BFF; 
}

// Media query for Tablet
// @media screen and (min-width: 768px) {

//     .history-info h2{
//         color: #fff;
//         font-size: 36px;
//         line-height: 42px;
//         margin: 0 0 23px;
//         text-transform: uppercase;
//         font-weight: 700;
//     }
//     .history-info .text {
//         font-size: 17px;
//         margin: 0;
//         width: 700px;
//         display: flex;
//         margin: auto;
//         justify-content: center;
//     }

//   }

  // Media query for Mobile 
@media screen and (min-width: 768px) {

    .history-info h2{
        color: #fff;
        font-size: 33px;
        line-height: 36px;
        margin: 0 0 23px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .history-info .text {
        font-size: 17px;
        margin: 0;
        max-width: 500px;
        display: flex;
        margin: auto;
        
    }

  }

    // Media query for Desktop
@media screen and (min-width: 1024px) {

    .history-info h2{
        color: #fff;
    font-size: 49px;
    line-height: 75px;
    margin: 0 0 23px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 700px;
    font-size: 4rem;
    }

    .history-info .text {
        font-size: 17px;
        margin: 0;
        max-width: 600px;
        display: flex;
        margin: auto;
        padding-top: 51px;
        padding-bottom: 65px;
    }

  }


