.contact-us {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#vulcan-spec {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
}
#location-contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid white;
    width: 110px;
    height: 40px;
    margin-top: 30px;
} 
#vulcan-spec2 {
    display: none;
}
.user-block{
    margin-bottom: 120px;
}
#map-img {
    width: 100%;
    min-height: 330px;
    object-fit: cover;
}
.map-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(80, 79, 79);
    font-weight: 700;
    font-size: 1.9em;
    line-height: 1;
    z-index: 1; /* Place the overlay above the map */
}
.location {
position: relative;
}
#find-vulcan {
    font-size: 1.1rem;
    line-height: 20px;
    border: 1px solid rgb(80, 79, 79);
    padding: 11px 12px;
}
#installed-in {
    margin-top: 25px;
    margin-bottom: 10px;
}
// Wave styling
.user-block::after {
    content: "";
    position: absolute;
    left: -140px;
    right: 0;
    z-index: 10;
    height: 166px;
    background-size: 165% 80%;
    background-repeat: no-repeat;
    background-image: url("../images/wave-blue-light.png");
  }
// Tablet View
@media (min-width: 768px) {
    .location {
        display: flex;
        flex-direction: row;
        width: 50%;
        order: 2;
    }
    #location-contact-us, #find-vulcan {
        border: none;
        background-color: rgba(66, 155, 214, 1);
        color: white;
    }
    #location-contact-us {
        margin-top: 10px;
    }
    .user-block {
        display: flex;
        margin-bottom: 0;
    }
    .contact-us {
        width: 50%;
    }
    #map-overlay {
        bottom: 20px;
    }
    #map-img {
        min-height: 370px;
    }
    #vulcan-spec {
        font-size: 1.9em;
        margin-top: 60px;
    }
    .map-container {
        margin-bottom: 15px;
    }
    .user-block::after {
        content: "";
        position: absolute;
        left: -140px;
        right: 0;
        z-index: 10;
        height: 166px;
        margin-top: 313px;
        background-size: 100% 64%;
        background-repeat: no-repeat;
        background-image: url("../images/wave-blue-light.png");
      }
}
// Desktop View
@media(min-width: 1024px) {
    .user-block::after {
        margin-top: 303px;
        background-size: 100% 75%;
    }
}
@media (min-width: 1155px) {
    #vulcan-spec {
        display: none;
    }
    #vulcan-spec2 {
        display: block;
        font-size: 3em;
        font-weight: 700;
        line-height: 1.2;
    }
    #installed-in {
        font-size: 3rem;
    }
    #location-contact-us {
        width: 110px;
    }
}
// Larger Desktop View
@media (min-width: 1440px) {
    .user-block::after {
        margin-top: 383px;
        background-size: 100% 85%;
    }
}
@media(min-width: 1620px) {
    #installed-in {
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    #vulcan-spec2 {
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    #location-contact-us {
        width: 140px;
    }
    .user-block::after {
        margin-top: 434px;
        background-size: 100% 92%;
    }
}