.contact-us {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
#vulcan-spec {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
}
#location-contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid white;
    width: 110px;
    height: 40px;
    margin-top: 30px;
} 
.user-block{
    margin-bottom: 120px;
}
#map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
}

.map-container {
    overflow: hidden;
    height: 330px;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(80, 79, 79);
    font-weight: 700;
    font-size: 1.9em;
    line-height: 1;
    z-index: 1; /* Place the overlay above the map */
  }
  .location {
    position: relative;
  }
#find-vulcan {
    font-size: 1rem;
    line-height: 20px;
    border: 1px solid rgb(80, 79, 79);
    padding: 11px;
    
}
#installed-in {
    margin-top: 20px;
    margin-bottom: 10px;
}