/* order-customization */

.order-block {
  position: relative;
  background-color: white;
  padding: 33px 10px 77px;
  margin: 0;
}

#order-block-title,
.machine-container {
  color: rgba(85, 85, 97, 1);
}

#order-block-title {
  max-width: 120px;
  padding-bottom: 0;
  margin: 0 0 7px;
  z-index: 11;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  max-width: 170px;
}

#order-block-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0 32px 0 32px;
}

.machine-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-img {
  height: auto;
  max-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.machine-title {
  font-size: 20px;
  margin-left: 10px;
  max-width: 80px;
  text-align: left;
  font-weight: bold;
  color: rgb(82, 80, 80);
}

.machine-title:hover {
  color: rgba(66, 155, 214, 1);
}

.machine-link {
  display: none;
}

#order-block-desc {
  color: rgba(85, 86, 94, 1);
  font-size: 16.5px;
  padding: 0;
  margin: 0;
  max-width: 300px;
  line-height: 20px;
  line-height: 17px;
}

.order-block-container {
  padding-top: 33px;
  padding-bottom: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  position: relative;
}

.order-block::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -62px;
  right: 0;
  z-index: 10;
  height: 166px;
  background-size: 160% 80%;
  background-repeat: no-repeat;
  background-image: url("../images/wave-white.png");
}

.order-line {
  height: 1px;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(206, 206, 206, 1);
}

/* product advisor */
.order-block-advisor {
  position: relative;
  background-color: rgba(21, 74, 102, 1);
  padding: 33px 10px 40px;
  margin: 0;
}

#advisor-block-header {
  color: white;
  text-align: center;
}

#advisor-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

#advisor-desc {
  font-size: 16px;

  margin-top: 5px;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(124, 128, 128, 1)" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>')
    96% / 2% no-repeat;
  padding: 10px;
}

.select-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  background-color: rgba(21, 74, 102, 1);
}

.select-container label {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
  text-align: left;
}

.select-container select {
  height: 35px;
  background-color: rgba(187, 187, 187, 1);
  color: rgba(123, 123, 123, 1);
  font-size: 12px;
}

.select-container select:focus {
  background-color: rgba(237, 238, 238, 1);
  border: none;
  outline: none;
  color: rgba(120, 121, 123, 1);
}

.advisor-line {
  height: 1px;
  width: calc(100% - 20px);
  border: none;
  border-top: 1.5px solid white;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#advisor-btn {
  background-color: rgba(66, 155, 214, 1);
  border: none;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
}

#advisor-btn > a {
  color: white;
}

.advisor-block::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -62px;
  right: 0;
  z-index: 10;
  height: 166px;
  background-size: 160% 80%;
  background-repeat: no-repeat;
  background-image: url("../images/wave-blue-dark.png");
}

#advisor-container {
  z-index: 100;
  position: relative;
}

.button-container {
  padding: 20px 10px;
}

/* Media query for Tablets */
@media screen and (min-width: 768px) {
  .machine-img {
    width: 100%;
  }
  .order-block {
    padding: 33px 10px 120px;
  }

  .order-block::before {
    background-size: 100% 100%;
    left: 0;
    height: 100px;
    top: -58px;
  }

  #order-block-title {
    color: rgba(36, 74, 100, 1);
    font-weight: bold;
    font-size: 25px;
    max-width: 300px;
  }

  #order-block-desc {
    max-width: 680px;
  }

  .order-line {
    display: none;
  }

  #order-block-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .machine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .machine-title {
    color: rgba(71, 156, 214, 1);
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  .machine-title:hover {
    color: rgb(82, 80, 80);
  }
  .machine-link {
    text-decoration: underline;
    color: rgba(101, 102, 102, 1);
    font-size: 10px;
    display: block;
  }

  .machine-link:hover {
    color: rgba(101, 102, 102, 1);
  }

  .order-block-container {
    padding-bottom: 130px;
  }

  .order-block-advisor {
    padding: 33px 10px 20px;
  }

  .advisor-block::before {
    content: "";
    position: absolute;
    left: 0;
    top: -58px;
    right: 0;
    z-index: 10;
    height: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/wave-blue-dark.png");
  }

  /* advisor */
  #advisor-title {
    font-size: 25px;
    font-weight: bold;
  }

  .advisor-line {
    margin-bottom: 15px;
  }
  #advisor-desc {
    color: rgba(66, 155, 214, 1);
    font-size: 20px;
    padding: 0;
    margin: 5px;
  }

  #select-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .select-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(21, 74, 102, 1);
  }

  .select-container {
    width: 100%;
    padding-top: 0;
  }

  #advisor-btn {
    margin-bottom: 30px;
  }

  select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(66, 155, 214, 1)" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>')
      96% / 3% no-repeat;
  }
}

/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
  .machine-link {
    margin-top: 5px;
  }

  .machine-img {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
  }

  .machine-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    max-width: 150px;
  }

  .select-row {
    display: flex;
    flex-direction: row;
  }

  .select-row:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select-container {
    min-width: 205px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
  }

  .select-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 74, 102, 1);
  }

  #advisor-btn {
    max-width: 1005px;
    margin: 0 auto;
  }

  .order-block-advisor {
    padding: 33px 10px 35px;
  }

  select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(66, 155, 214, 1)" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>')
      96% / 8% no-repeat;
  }
}

@media screen and (min-width: 1440px) {
  #advisor-btn {
    max-width: 1360px;
  }

  .select-container {
    min-width: 280px;
  }

  .select-container select {
    height: 45px;
  }

  .select-container label {
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

@media (min-width: 1620px) {
  .select-container {
    min-width: 320px;
  }

  .button-container {
    padding: 20px 0px;
  }

  #advisor-btn {
    max-width: 1560px;
  }

  .machine-img {
    max-width: 300px;
  }

  #order-block-desc {
    max-width: 690px;
    font-size: 15px;
  }

  #order-block-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: none;
    max-width: 310px;
  }

  .machine-title {
    font-size: 25px;
    text-align: center;
    max-width: 180px;
  }

  .select-container select {
    height: 45px;
  }

  .select-container label {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  #advisor-desc {
    margin-bottom: 0;
  }
  .machine-link {
    font-size: 14px;
  }
}
