/* video */

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10%;
    background-color: #468ECC;
  &-iframe {
    background-color: #01882A;
    border: 20px solid #234058;
    width: 78%;
    height: calc(0.5806 * 62vw);
  }
}

// .video-panel {
//     background-color: #009ddc;
//     position: relative;
//     z-index: 1;
//   }
  
//   .video-panel .container {
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }
  
  
//   .embed-container {
//     position: relative;
//     padding-bottom: 59.25%;
//     height: 0;
//     overflow: hidden;
//     max-width: 100%;
//   }
  
//   .embed-container iframe,
//   .embed-container object,
//   .embed-container embed {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 98%;
//     height: 97%;
//     border: 15px solid #154a66; 
//     /* overflow: hidden; */
//   }