// Place your Sass imports here...

@use "carousel";
@use "order_customisation";
@use "header";
@use "footer";
@use "location";
@use "form";

*,
:after,
:before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(21, 74, 102, 1);
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 100%;
}


